<app-header></app-header>

<div class="controls-bar">
  <app-user-guide-button></app-user-guide-button>
  <app-select-time-dropdown></app-select-time-dropdown>
  <app-select-view-dropdown></app-select-view-dropdown>
</div>

<div class="main-content">
  <div class="left-section">
    <app-radar-chart-jerrisonapi></app-radar-chart-jerrisonapi>
  </div>
  <div class="right-section">
    <app-test-noterating></app-test-noterating>
  </div>
</div>

<div class="download-buttons">
  <button
    (click)="exportToCsv()"
    type="button"
    class="button inline-flex px-3 py-3 items-center mb-2 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
  >
    Download Note Emotion
  </button>
  <button
    (click)="exportSurveyToCsv()"
    type="button"
    class="button inline-flex px-3 py-3 items-center mb-2 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
  >
    Download Survey Emotion
  </button>
</div>

<app-report-emotion-button
  class="btn btn-help"
></app-report-emotion-button>

