<form [formGroup]="feelingsForm" (ngSubmit)="onSubmit()">
  <h1>Emotion Survey</h1>
  <div>
    <h2>I am feeling...</h2>
    <div class="radio-group">
      <label class="emotion-label">Joyful:</label>
      <label>
        <input type="radio" formControlName="Joyful" value=1/>
        
        Very Weak
      </label>
      <label>
        <input type="radio" formControlName="Joyful" value=2 />
        Weak
      </label>
      <label>
        <input type="radio" formControlName="Joyful" value=3 />
        Moderate
      </label>
      <label>
        <input type="radio" formControlName="Joyful" value=4 />
        Strong
      </label>
      <label>
        <input type="radio" formControlName="Joyful" value=5 />
    
        Very Strong
      </label>
    </div>
  </div>
  <div>
    <div class="radio-group">
      <label class="emotion-label">Curious:</label>
      <label>
        <input type="radio" formControlName="Curious" value=1 />
        
        Very Weak
      </label>
      <label>
        <input type="radio" formControlName="Curious" value=2 />
        Weak
      </label>
      <label>
        <input type="radio" formControlName="Curious" value=3 />
        Moderate
      </label>
      <label>
        <input type="radio" formControlName="Curious" value=4 />
        Strong
      </label>
      <label>
        <input type="radio" formControlName="Curious" value=5 />
        
        Very Strong
      </label>
    </div>
  </div>
  <div>
    <div class="radio-group">
      <label class="emotion-label">Surprised:</label>
      <label>
        <input type="radio" formControlName="Surprised" value=1 />
      
        Very Weak
      </label>
      <label>
        <input type="radio" formControlName="Surprised" value=2 />
        Weak
      </label>
      <label>
        <input type="radio" formControlName="Surprised" value=3 />
        Moderate
      </label>
      <label>
        <input type="radio" formControlName="Surprised" value=4 />
        Strong
      </label>
      <label>
        <input type="radio" formControlName="Surprised" value=5 />
        
        Very Strong
      </label>
    </div>
  </div>
  <div>
    <div class="radio-group">
      <label class="emotion-label">Confused:</label>
      <label>
        <input type="radio" formControlName="Confused" value=1/>
        
        Very Weak
      </label>
      <label>
        <input type="radio" formControlName="Confused" value=2 />
        Weak
      </label>
      <label>
        <input type="radio" formControlName="Confused" value=3/>
        Moderate
      </label>
      <label>
        <input type="radio" formControlName="Confused" value=4 />
        Strong
      </label>
      <label>
        <input type="radio" formControlName="Confused" value=5 />
        
        Very Strong
      
      </label>
    </div>
  </div>
  <div>
    <div class="radio-group">
      <label class="emotion-label">Anxious:</label>
      <label>
        <input type="radio" formControlName="Anxious" value=1 />
        
        Very Weak
      </label>
      <label>
        <input type="radio" formControlName="Anxious" value=2 />
        Weak
      </label>
      <label>
        <input type="radio" formControlName="Anxious" value=3 />
        Moderate
      </label>
      <label>
        <input type="radio" formControlName="Anxious" value=4/>
        Strong
      </label>
      <label>
        <input type="radio" formControlName="Anxious" value=5 />
        
        Very Strong
      </label>
    </div>
  </div>
  <div>
    <div class="radio-group">
      <label class="emotion-label">Frustrated:</label>
      <label>
        <input type="radio" formControlName="Frustrated" value=1 />
    
        Very Weak
      </label>
      <label>
        <input type="radio" formControlName="Frustrated" value=2 />
        Weak
      </label>
      <label>
        <input type="radio" formControlName="Frustrated" value=3 />
        Moderate
      </label>
      <label>
        <input type="radio" formControlName="Frustrated" value=4 />
        Strong
      </label>
      <label>
        <input type="radio" formControlName="Frustrated" value=5 />
     
        Very Strong
      </label>
    </div>
  </div>
  <div>
    <div class="radio-group">
      <label class="emotion-label">Bored:</label>
      <label>
        <input type="radio" formControlName="Bored" value=1 />
        
        Very Weak
      </label>
      <label>
        <input type="radio" formControlName="Bored" value=2 />
        Weak
      </label>
      <label>
        <input type="radio" formControlName="Bored" value=3 />
        Moderate
      </label>
      <label>
        <input type="radio" formControlName="Bored" value=4 />
        Strong
      </label>
      <label>
        <input type="radio" formControlName="Bored" value=5 />
        Very Strong
      </label>
    </div>
  </div>

  <!-- <div formArrayName="Inconducive">
    <h2 for="Inconducive">Which emotions you reported above negatively influenced your Knowledge Building?</h2>
    <div *ngFor="let option of options; let i = index">
      <input type="checkbox" [formControlName]="i" [id]="option.id" />
      <label [for]="option.id">{{ option.label }}</label>
    </div>
  </div> -->

  <div>
    <h2 for="Inconducive">Which emotions you reported above negatively influenced your Knowledge Building?</h2>
    <select formControlName="Inconducive" id="Inconducive" >
      <option value="" disabled>Select:</option>
      <option value="Joyful">Joyful</option>
      <option value="Curious">Curious</option>
      <option value="Surprised">Surprised</option>
      <option value="Confused">Confused</option>
      <option value="Anxious">Anxious</option>
      <option value="Frustrated">Frustrated</option>
      <option value="Bored">Bored</option>
    </select>
  </div>
  <div>
    <h2 for="Reason">What caused that emotion?</h2>
    <textarea formControlName="Reason" id="Reason" style="width: 100%; height: 120px; resize: none;"></textarea>
  </div>
  <div>
    <h2 for="Remarks">Is there anything else that you want to share?</h2>
    <textarea formControlName="Remarks" id="Remarks" style="width: 100%; height: 120px; resize: none;"></textarea>
  </div>
  <button type="submit">Submit</button>

</form>
