form {
  max-width: 1000px;
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px; /* Add padding for spacing */
  border: 2px solid #ccc; /* Add border around the form */
  border-radius: 8px; /* Add border radius for rounded corners */
  background-color: #f9f9f9; /* Add background color */
  padding-top: 2px;
}

div {
  margin-bottom: 30px;
}

/* label {
  font-weight: bold;
} */

.radio-group {
  display: flex;
  flex-direction: row;
}

.radio-group label {
  margin-right: 20px; /* Adjust spacing between radio buttons */
}

.emotion-label {
  margin-right: 30px;
  /* Adjust width as needed for consistent spacing */
  width: 150px;
  margin-bottom: 10px; /* Adjust margin as needed for vertical spacing */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

label {
  font-size: 20px; /* Adjust the font size as needed */
}

.custom-snackbar {
  background-color: #333; /* Example background color */
  color: white; /* Example text color */
  text-align: center; /* Center align text */
  width: 300px; /* Set width as needed */
  margin: 0 auto; /* Center horizontally */
  position: fixed; /* Fixed position for notification */
  top: 50%; /* Position vertically in the middle */
  left: 50%; /* Position horizontally in the middle */
  transform: translate(-50%, -50%); /* Center using translate */
  z-index: 1000; /* Ensure it's on top of other content */
  border-radius: 4px; /* Optional: Add border radius for styling */
  padding: 16px; /* Optional: Add padding for spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add box shadow */
}