<app-header></app-header>

<div style="display: flex; margin-top: 10px; margin-left: 2%; width: 90%">
  <app-select-time-dropdown
    style="margin-left: 2%; size: 60rem"
  ></app-select-time-dropdown>
  <app-select-view-dropdown
    style="margin-left: 2%; size: 60rem"
  ></app-select-view-dropdown>
  <app-user-guide-button
    style="margin-right: 0.2%; margin-top: 0.2%; size: 60rem"
  />
</div>
<div style="display: flex; justify-content: space-between">
  <div class="left-section" style="flex: 1">
    <app-radar-chart></app-radar-chart>
  </div>
  <div class="right-section flex m-2">
    <app-emotion-rating style="flex: 1; overflow: auto"></app-emotion-rating>
  </div>
</div>
<div class="flex pt-4" style="width: 60rem; padding-left: 4vh">
  <button
    (click)="exportToCsv()"
    type="button"
    class="button inline-flex px-3 py-3 items-center mb-2 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
  >
    Download EmoReadWrite
  </button>
  <button
    (click)="exportSurveyToCsv()"
    type="button"
    class="button inline-flex px-3 py-3 items-center mb-2 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
    style="margin-left: 4rem"
  >
    Download EmoSurvey
  </button>
</div>

<app-report-emotion-button
  class="btn btn-help"
  (click)="helpWindow()"
></app-report-emotion-button>
<app-report-readwrite-button></app-report-readwrite-button>
