.dashboard-container {
  display: flex;
  justify-content: space-between;
}

.radar-chart-container {
  flex: 1;
  /* margin-right: 10px; Optional: Adjust margin between charts */
}

.right-section {
  margin-top: 50px;
  width: 50%; /* You can adjust the width as needed for the right section */
  display: absolute;
  flex-direction: column;
  height: 60vh;
  overflow-y: auto; 
}