<app-header></app-header>
<div class="dashboard-container">
  <div class="left-section">
    <app-radar-chart></app-radar-chart>
  </div>

  <div class="right-section">
    <div class="user-guide-container">
      <p style="font-size: 25px;">User Guide:</p>
      <ul>
        <li><p>User can click on radar chart data point to view detailed notes</p></li>
      </ul>
    </div>
    <app-select-time-dropdown></app-select-time-dropdown>
    <app-select-view-dropdown></app-select-view-dropdown>
  </div>
</div>
