.dashboard-container {
  display: flex;
}

.left-section {
  width: 50%;
  flex: 1; /* This will make the left section take up the available space */
}

.right-section {
  margin-top: 100px;
  width: 50%; /* You can adjust the width as needed for the right section */
}
