<app-header></app-header>
<div style="display: flex; margin-top: 10px; margin-left: 2%">
  <app-user-guide-button style="margin-right: 20px;"></app-user-guide-button>
  <app-select-time-dropdown style="flex: 1"></app-select-time-dropdown>
  <app-select-view-dropdown style="flex: 1"></app-select-view-dropdown>
</div>
<div style="display: flex; justify-content: space-between">
  <div style="flex: 1">
    <app-radar-chart></app-radar-chart>
  </div>
  <div style="flex: 1">
    <app-radar-chart-writing></app-radar-chart-writing>
  </div>
</div>
