<app-header></app-header>
<app-select-member-dropdown (userSelected)="onUserSelected($event)"></app-select-member-dropdown>

<div class="form-container">
  <div class="left-section">
    <!-- Left Question Block -->
    <div class="question-block blue-bg">
      <h1 class="question-block-heading">Our analysis</h1>
      <label>What do you see in the visualizations?</label>
      <textarea name="q1" rows="5" maxlength="1000"  [(ngModel)]="formData.Visualization" (ngModelChange)="checkIfAllQuestionsAnswered()"></textarea>

      <label>Based on the analysis results, what emotional challenges do we have
        during the Knowledge Building?</label
      >
      <textarea name="q2" rows="5" maxlength="1000"  [(ngModel)]="formData.Challenges" (ngModelChange)="checkIfAllQuestionsAnswered()"></textarea>
    </div>
  </div>

  <div class="middle-section">
    <!-- Middle Question Block -->
    <div class="question-block blue-bg">
      <h1 class="question-block-heading">Our reflection</h1>
      <label>Which aspects do you think we can do better?</label>
      <textarea name="q3" rows="5" maxlength="1000"  [(ngModel)]="formData.ImprovementWays" (ngModelChange)="checkIfAllQuestionsAnswered()"></textarea>

      <label>How can we create a more positive emotional environment to support our
        Knowledge Building?</label
      >
      <textarea name="q4" rows="5" maxlength="1000"  [(ngModel)]="formData.PositivePlan" (ngModelChange)="checkIfAllQuestionsAnswered()"></textarea>
    </div>
  </div>

  <div class="right-section">
    <!-- Right Question Block -->
    <div class="question-block blue-bg">
      <h1 class="question-block-heading">Our regulation</h1>
      <label>What is our specific action plan for creating a supportive emotional
        environment?</label
      >
      <textarea name="q5" rows="8" maxlength="1000" [(ngModel)]="formData.Action" (ngModelChange)="checkIfAllQuestionsAnswered()"></textarea>
    </div>
  </div>
</div>

<div class="submit-block" [ngClass]="{'disabled-button': !allQuestionsAnswered}">
  <input type="submit" [value]="'Submit'" (click)="onSubmitClick()" [disabled]="!allQuestionsAnswered" />
</div>

<!-- <div class="submit-block">
  <input type="submit" [value]="'Finish_Submit'" (click)="submit()" />
</div> -->
