.form-container {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.left-section,
.middle-section,
.right-section {
  flex: 0.3;
}

.left-section {
  margin-left: 30px;
}

.right-section {
  margin-right: 30px;
}

.question-block {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  color: #fff;
  height: 400px;
  font-size: large;
}

.question-block-heading {
  text-align: center;
}

.blue-bg {
  background: linear-gradient(
    0deg,
    rgba(6, 0, 66, 1) 0%,
    rgba(34, 193, 195, 1) 100%
  );
}

.pink-bg {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(209, 133, 201, 1) 0%,
    rgba(236, 199, 234, 1) 100%,
    rgba(240, 120, 205, 1) 100%,
    rgba(148, 0, 130, 1) 100%
  );
}

.red-bg {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(209, 133, 201, 1) 0%,
    rgba(201, 0, 62, 1) 100%,
    rgba(240, 120, 205, 1) 100%,
    rgba(148, 0, 130, 1) 100%
  );
}

.question-block input,
.question-block textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.submit-block {
  text-align: center;
  margin-top: 20px;
}

.disabled-button {
  color: white; /* Set text color to white for better visibility on the grey background */
  cursor: not-allowed; /* Change cursor to indicate that the button is not clickable */
}

.submit-block input {
  font-size: 18px;
  padding: 10px 20px;
  background-color: green; /* Set the default background color to green */
  color: white; /* Set text color to white for better visibility on the green background */
  cursor: pointer; /* Change cursor to pointer for clickable state */
}

.submit-block input:disabled {
  background-color: grey; /* Set background color to grey for the disabled state */
  cursor: not-allowed; /* Change cursor to indicate that the button is not clickable */
}

.form-style-7 {
  max-width: 700px;
  margin: 50px auto;
  background: #fff;
  border-radius: 2px;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-7 h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #5c5c5c;
  font-size: x-large;
}
.form-style-7 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.form-style-7 li {
  display: block;
  padding: 9px;
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  border-radius: 3px;
}
.form-style-7 li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}
.form-style-7 li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #ffffff;
  height: 26px;
  padding: 2px 5px 2px 5px;
  color: #363535;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-7 li > span {
  background: #f3f3f3;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #c0c0c0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.form-style-7 textarea {
  resize: none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"] {
  background: #2471ff;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #5994ff;
  border-radius: 3px;
  color: #d2e2ff;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover {
  background: #6b9fff;
  color: #fff;
}

.question-block textarea {
  color: black; /* Set the font color to black */
}


