<app-header></app-header>
<div>
    <div class="container">
      <div style="display:block" class="barchart-container">
        <canvas baseChart
          [datasets]= "barChartData"
          [labels] = "barChartLabels"
          [options] = "barChartOptions"
          [plugins] = "barChartPlugins"
          [legend] = "barChartLegend"
          [type] = "barChartType"
          (chartClick)="handleChartClick($event)"
          >
        </canvas>
        </div>
        <div class="flex fixed bottom-20 right-12">
          <button
            type="button"
            class="inline-flex items-center rounded-md bg-black px-3 py-2 text-sm font-semibold text-white hover:bg-black/80"
            (click)="navigate()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 h-4 w-4"
            >
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
            Survey Overview
          </button>
        </div>
    </div>
    
</div>
