p {
    font-family: Lato;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .barchart-container {
    margin-top: 12px;
    width: 100%;
    padding-left: 50px;
    overflow: hidden;
    display: block;
    width: 70%;
  }
  