p {
    font-family: Lato;
  }
  
/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
} */

.barchart-container {
  margin-top: 20px;
  width: 90%;
  padding-left: 50px;
  overflow: hidden;
  display: block;
  /* width: 70%; */
}
  