<button nz-button nz-dropdown [nzDropdownMenu]="menu4" class="custom-button">
    {{ selectedValue }} 
    <span nz-icon nzType="down"></span>
</button>
<nz-dropdown-menu #menu4="nzDropdownMenu">
<ul nz-menu>
    <li nz-menu-item (click)="selectedValue = 'All'">All</li>
    <li nz-menu-item (click)="selectedValue = '3 stars'">3 stars</li>
    <li nz-menu-item (click)="selectedValue = '2 stars'">2 stars</li>
    <li nz-menu-item (click)="selectedValue = '1 star'">1 star</li>
</ul>
</nz-dropdown-menu>