<app-header></app-header>
<div class="history-container">
    <h1 class="history-title">Reflection History</h1>
    <ul>
        <li style="--accent-color:#41516C">
            <div class="date">31 January 2024</div>
            <div class="title">Why I was curious</div>
            <div class="descr">By:</div>
        </li>
        <li style="--accent-color:#FBCA3E">
            <div class="date">24 January 2024</div>
            <div class="title">Why I was confused</div>
            <div class="descr">By:</div>
        </li>
        <li style="--accent-color:#E24A68">
            <div class="date">17 January 2024</div>
            <div class="title">Why I was surprised</div>
            <div class="descr">By:</div>
        </li>
        <li style="--accent-color:#1B5F8C">
            <div class="date">3 January 2024</div>
            <div class="title">Why I was bored</div>
            <div class="descr">By:</div>
        </li>
        <li style="--accent-color:#4CADAD">
            <div class="date">1 January 2024</div>
            <div class="title">Why I was joyful</div>
            <div class="descr">By:</div>
        </li>
    </ul>
</div>
