.emotions{
  float: left;
}

.emotion{
  float: left;
  font-size: 12px;
  margin-right:10px;
  margin-left:20px;
}

.centered-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto; /* Centering the block itself if necessary */
}
