@tailwind base;
@tailwind components;
@tailwind utilities;

.inconducive-container {
  display: flex;
  justify-content: space-between;
}

.left-section {
  flex: 2;
}

.right-section {
  display: flex;
  align-items: center;
}
button.button:hover { 
    text-decoration: none;
    background-color: #a9a9a9; /* Dark grey color */
  }