/* 
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  } */

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 100px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
    text-align: center;
  }

  /* Hide extra stars beyond 3 */
  ::ng-deep nz-rate {
    display: inline-block;
  }

  ::ng-deep nz-rate .ant-rate-item {
    display: inline-block;
  }

  ::ng-deep nz-rate .ant-rate-item:nth-child(n+4) {
    display: none;
  }
  