.btn-group{
    margin-top: 30px;
    margin-left: 50px;
}

/* Increase the font size of the dropdown items */
.devui-dropdown-menu a {
    font-size: 16px; /* Adjust the size as needed */
  }
  
  /* Increase the height of the input box */
  .devui-search-in-dropdown {
    height: 30px; /* Adjust the height as needed */
  }
  
  /* Increase the padding around the input box */
  .devui-search-in-dropdown input {
    padding: 8px; /* Adjust the padding as needed */
  }
  
  /* Increase the padding around the dropdown toggle button */
  .devui-dropdown-default {
    padding: 10px; /* Adjust the padding as needed */
  }
  
  /* Increase the size of the dropdown toggle button icon */
  .icon-select-arrow:before {
    font-size: 20px; /* Adjust the size as needed */
  }
  
  /* Increase the size of the text in the dropdown toggle button */
  .devui-dropdown-origin span {
    font-size: 18px; /* Adjust the size as needed */
  }
  