
<!-- Preloader -->
<div *ngIf="isLoading" class="preloader">
  <div class="spinner"></div>
</div>

<!-- Main Content -->
<div *ngIf="!isLoading && isVisible">
  <div class="container">
    <section class="header-section">
      <div>
        <h3>
          {{ title }}<span *ngIf="title && datasetLabel">: </span
          >{{ datasetLabel }}
        </h3>
      </div>
      <div class="controls">

        <button
          *ngIf="isVisible"
          (click)="closeEmotionNote()"
          type="button"
          class="custom-button"
        >
          Close

        </button>
        <app-intensity-dropdown
          (selectedValueChange)="filterList($event)"
        ></app-intensity-dropdown>
      </div>
    </section>


    <div class="d-flex flex-column flex-md-row">
      <div class="col-10">
        <div class="scrollspy-example scrollspy-container">
          <div *ngFor="let emoReadWrite of filteredUniqueEmoReadWrite; let i = index">

            <section
              [mdbScrollspyElement]="'scrollspy'"
              [id]="'example-' + (currentSectionNumber + i)"
              class="survey-section"
            >
              <!-- <h3>Note {{ currentSectionNumber + i }}</h3> -->
              
              <div class="question-answer">
                <p class="question">Note Title: {{ emoReadWrite.note.title }}</p>
                <!-- <p>{{ emoReadWrite.note.title }}</p> -->
                <p>{{ emoReadWrite.created }}</p>
                <p class="question">Note Content:</p>
                <p [innerHTML]="emoReadWrite.note.data.body"></p>
                <div>
                  <ng-container
                    *ngFor="let intensity of emoReadWrite.Intensity"
                  >
                    <ng-container *ngIf="datasetLabel === 'Read'; else writeRating">
                      <p class="question">Reading Emotion Intensity:</p>
                      <app-star-rating
                        [intensity_1star]="getIntensityCount(emoReadWrite.note._id, emoReadWrite.ratings[0]?.emotionId, 1)"
                        [intensity_2star]="getIntensityCount(emoReadWrite.note._id, emoReadWrite.ratings[0]?.emotionId, 2)"
                        [intensity_3star]="getIntensityCount(emoReadWrite.note._id, emoReadWrite.ratings[0]?.emotionId, 3)">
                      </app-star-rating>
                    </ng-container>
                    <ng-template #writeRating>
                      <p class="question">Writing Emotion Intensity:</p>
                      <app-write-rating
                        [intensity]="intensity.value"
                      ></app-write-rating>
                    </ng-template>
                  </ng-container>
                </div>

                <hr class="section-divider" />
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
