/* :host {
  display: flex;
  justify-content: start;
  border: solid 1px silver;
}
ul {
  padding: 0;
  margin: 0;
  border-right: dashed 1px silver;
}
li {
  margin: 2em;
  list-style: none;
  white-space: nowrap;
  cursor: pointer;
}
li.active {
  color: blue;
  font-weight: bold;
}
div.container {
  padding: 2em;
  height: 20em;
  overflow-y: scroll;
  width: 100%;
}
div.content {
  padding: 2em;
  height: 50em;
} */

@import 'bootstrap/dist/css/bootstrap.min.css';

.scrollspy-example {
  position: relative;
  height: 100%;
  overflow: auto;
}

.nav-link.active {
  background-color: #0D6EFD; /* Set your desired background color for the active nav-link */
  /* Set your desired text color for the active nav-link */
}

.container {
  padding: 20px;
}

.survey-section {
  background-color: #f8f9fa; /* Light gray background color */
  border: 1px solid #dee2e6; /* Border color */
  border-radius: 8px; /* Rounded corners */
  margin-bottom: 20px; /* Spacing between sections */
  padding: 20px; /* Padding inside each section */
}

.question-answer {
  margin-bottom: 15px; /* Spacing between question and answer */
}

.question {
  font-weight: bold;
  font-size: 18px; /* Adjust font size */
  margin-bottom: 8px; /* Spacing below the question */
}

.answer { 
  font-size: 16px; /* Adjust font size */
}

.section-divider {
  border-top: 1px solid #ccc; /* Border color for section divider */
  margin-top: 20px; /* Spacing above the divider */
  margin-bottom: 20px; /* Spacing below the divider */
}

.sidebar {
  background-color: #ffffe2; 
  color: black;
  padding: 10px; /* Padding inside the sidebar items */
  border-radius: 8px; /* Rounded corners */
}

.sidebar .nav-link {
  color: black; /* White text color for sidebar links */
  font-size: 16px; /* Adjust font size */
  margin-bottom: 10px; /* Spacing between sidebar links */
}

.sidebar .nav-link.active {
  background-color: #0056b3; /* Darker blue background color for active link */
}
