<div class="container">
	<section style="justify-content: center; align-content:center;">
		<h3 >{{title}}</h3>
	</section>
	<div class="d-flex flex-column flex-md-row" >
	<div class="col-10" >
	  <div class="scrollspy-example scrollspy-container">
		<div *ngFor="let emoSurvey of filteredEmoSurveys; let i = index">
		<section [mdbScrollspyElement]="'scrollspy'" [id]="'example-' + (currentSectionNumber + i)" class="survey-section">
			  <h3>Note {{ currentSectionNumber + i }}</h3>
			  <div class="question-answer">
				<p class="question">What caused that emotion?</p>
				<p class="answer">{{ emoSurvey.Reason }}</p>
				<p class="question">Is there anything else you want to share?</p>
				<p class="answer">{{ emoSurvey.Remarks }}</p>
				<hr class="section-divider">
			  </div>
			
		  </section>
		</div>
		  
		<!-- <section mdbScrollspyElement="scrollspy" id="example-1">
			<div *ngFor="let emoSurvey of filteredEmoSurveys; let i = index">
				<h3>Section {{ currentSectionNumber + i }}</h3>
				<p>What caused that emotion?</p>
				<p>{{ emoSurvey.Reason }}</p>
				<p>Is there anything else you want to share?</p>
				<p>{{emoSurvey.Remarks}}</p>
				<hr>
			  </div>
		</section> -->

		 <!-- <h3>Section 1</h3>
			<p>What caused that emotion?</p> <br>
			<div *ngFor="let emoSurvey of filteredEmoSurveys">
				<p>Reason: {{ emoSurvey.Reason }}</p>
			  </div>
			<p>Is there anything else you want to share?</p> -->

		<!-- <section mdbScrollspyElement="scrollspy" id="example-2">
		  <h3>Section 2</h3>
		</section>
		<section mdbScrollspyElement="scrollspy" id="example-3">
		  <h3>Section 3</h3>
		</section>
		<section mdbScrollspyElement="scrollspy" id="example-4">
		  <h3>Section 4</h3>
		</section> -->
	  </div>
	</div>
  
	<div class="col-2" style="position: sticky; top:0; justify-content: center; align-items: center;padding-left: 15px;">
	  <div id="scrollspy"  style=" position: fixed; z-index: 1; height: 70%; overflow: auto ; " class="sidebar">
		<ul [mdbScrollspy]="'scrollspy'" class="nav flex-column nav-pills menu-sidebar">
			<li class="nav-item"  *ngFor="let emoSurvey of filteredEmoSurveys; let i = index">
			  <a [mdbScrollspyLink]="'example-' + (currentSectionNumber + i)" class="nav-link" [class.active]="activeSection == i" (click)="setActiveSection(i)" style="cursor:pointer;">Note {{ currentSectionNumber + i }}</a>
			</li>
		  
		<!-- <ul mdbScrollspy="scrollspy" class="nav flex-column nav-pills menu-sidebar">
		  <li class="nav-item" *ngFor="let emoSurvey of filteredEmoSurveys; let i = index">
			<a mdbScrollspyLink="example-1" class="nav-link">Section {{ currentSectionNumber + i }}</a>
		  </li> -->
		  <!-- <li class="nav-item">
			<a mdbScrollspyLink="example-2" class="nav-link">Section 2</a>
		  </li>
		  <li class="nav-item">
			<a mdbScrollspyLink="example-3" class="nav-link">Section 3</a>
		  </li>
		  <li class="nav-item">
			<a mdbScrollspyLink="example-4" class="nav-link">Section 4</a>
		  </li> -->
		</ul>
	  </div>
	</div>
  </div>
</div>