<!--<el-table [model]="tableData" [scroll-x]="true" center="all">-->
<!--  <el-table-column model-key="id" label="id" width="140">-->
<!--  </el-table-column>-->
<!--  <el-table-column model-key="date" label="date" width="140">-->
<!--  </el-table-column>-->
<!--  <el-table-column model-key="idea" label="idea" width="200">-->
<!--  </el-table-column>-->
<!--  <el-table-column model-key="intensity" label="intensity" width="140">-->
<!--      <i class="el-icon-star-on" color="#F7BA2A" ng-repeat="i in intensity"></i>-->
<!--  </el-table-column>-->
<!--  <el-table-column label="operation" width="120">-->
<!--    <ng-template #slot let-scope="scope">-->
<!--      <el-button type="text" size="small" (click)="reflect(scope)">Reflect&Pan</el-button>-->
<!--    </ng-template>-->
<!--  </el-table-column>-->
<!--</el-table>-->
