<div>
  <!-- <div class="container"> -->
  <div style="display: block" class="barchart-container">
    <canvas
      baseChart
      class="chart"
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [type]="barChartType"
      
    >
    </canvas>
  </div>
  <!-- </div> -->
</div>
<!-- (chartClick)="handleChartClick($event)" -->
<!--          [datasets]= "barChartData"-->
<!--[data]="barChartData"-->
