<div>
    <div class="container">
      <div style="display:block" class="barchart-container">
        <canvas baseChart
          class="chart"
          [datasets]= "barChartData"
          [labels] = "barChartLabels"
          [options] = "barChartOptions"
          [plugins] = "barChartPlugins"
          [legend] = "barChartLegend"
          [type] = "barChartType"
          (chartClick)="handleChartClick($event)">
        </canvas>
      </div>
    </div>
</div>
<!--          [datasets]= "barChartData"-->
<!--[data]="barChartData"-->
